@import url('https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Platypi:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family:sans-serif;
    overflow-x: hidden;
   
}

/* #F2CB2E
#6E777E 
rgb(1,14,22)*/
html,body{
    height:100vh;
    width:100vw;
}
.navbar{
    
    display: flex;
    align-items: center;
   
    height: 12vh;
    width: 100vw;
    background: rgba(28, 31, 34, 0.2);
    border:2px solid black;
    background-color: rgb(1,14,22);
    color:#F2CB2E;    
   
}
.logo{
    display: flex;
    justify-content: left;
    padding-left: 5vw;
    align-items: center;
    width:25vw;
    height: 10vh;
    
}
.logo img{
    width: 15vw;
    height: 10vh;
}
.features{
    display: flex;
    justify-content: space-between;
    width: 50vw;
    

}
.features a{
    text-decoration: none;
    color:white;
    font-weight: 400;
}
.features a:hover{
    color:#F2CB2E;
}
.register{
    display: flex;
   justify-content: center;
   width: 25vw;
   align-items: center;
   
  
  
}
#register{
    color: black;
    font-size: 2.8vh;
   
    border-radius: 1vw;
    width: 12vw;
    background-color: #F2CB2E;
    padding: 1vw;

}
#register:hover{
    transform: scale(0.95);
    transition: all 0s ease-in 0s;
}

.nav-bar-button{
    display: none;
    justify-content: center;
    width: 18vw;
}
.nav-bar-dropdown{
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    line-height: 5vh;
}









.main{
    width:100vw;
    height:60vh;
    background-color: rgb(22, 22, 22);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #F2CB2E;

}
h4{
    display: inline;
}
.regi-form{
    width:100vw;
    height:10vh;
    background-color: #0d0d0d;
    color:#F2CB2E;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vh;
}
.content{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    height:40vh;
    width:30vw

}
.content p{
    display: flex;
    height: 10vh;
    justify-content: center;
    align-items: center;
    font-size: 4vh;
    gap: 4vh;

}
.content b{
    font-size: 2.80000vh;
}
/* .content .scholar{ display: flex;
    height: 10vh;
    justify-content: center;
    align-items: center;

}
.content .email{
    display: flex;
    height: 10vh;
    justify-content: center;
    align-items: center;

} */
























.footer{
    width:100vw;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 4vh;
    background-color:rgb(0,32,49);

}
.content2{
    width:80vw;
    height:10vh;
    color:rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:2vw;
}
   .map{
    width:100vw;
    height:5vh;
    color:rgb(87,96,101);
    display: flex;
    justify-content: left;
    /* background-color: aqua; */
    padding-left: 8vw;
    align-items: center;

   }
   .map i{
    font-size: 4vh;
    padding-right:1.2vw;
   }

   .contact{
    width:100vw;
    height:5vh;
    color:rgb(87,96,101);
    display: flex;
    justify-content: left;
    /* background-color: aqua; */
    padding-left: 8vw;
    align-items: center;


   }
   .contact i{
    font-size: 4vh;
    padding-right:1.2vw;
   }
   .email{
    width:100vw;
    height:5vh;
    color:rgb(87,96,101);
    display: flex;
    justify-content: left;
    /* background-color: aqua; */
    padding-left: 8vw;
    align-items: center;

   }
   .email i{
    font-size: 4vh;
    padding-right:1.2vw;

   }
   .social-media{
    width:100vw;
    height:5vh;
    color:rgb(87,96,101);
    display: flex;
    justify-content: left;
    /* background-color: aqua; */
    padding-left: 8vw;
    align-items: center;

   }
   .social-media i{
    font-size: 4vh;
    padding-right:1.2vw;


   }
    

@media (max-width:700px){
    .features{
        display: none;
    }
    .register{
        display: none;
    }
    .nav-bar-button{
        display: flex;
    }
    .logo{
        width: 85vw;
        display: flex;
        justify-content: left;
        align-items: center;
        padding-left: 10vw;
    }
    a{
        text-decoration: none;
        background-color: #011824;
        color:white;
    }
    .nav-bar-dropdown{
        background-color: #011824;
    }
    .nav-bar-dropdown button{
        font-size: 3vh;
        background-color: #F2CB2E;
    }

    
}













